*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1f2937;
    display: grid;
    grid-template: 
    'header'
}
header{
    padding: 30px;
    display: grid;
    grid-auto-flow: column;
    color: white;
    font-family:'Helvetica Neue', sans-serif;
}
.left-header{
    display: grid;
    grid-auto-flow: column;
    justify-items: start;
    font-size: 20px;
}
.right-header{
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
}
.right-header a{
    cursor: pointer;
}

/* entry style */

.entry{
    padding-top: 30px;
    display: grid;
    place-items: center;
    gap: 10px;
}
.entry img{
    width: 23%;
    border-radius: 50%;
}
.entry h3{
    font-size: 1.8rem;
    color: white;
}
.entry h1{
    font-size: 3rem;
    text-align: center;
    color: white;
}