* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

:root {
    --bg: hsl(230, 17%, 14%);
    --padding: 30px 500px;
    --toggle: linear-gradient(hs1(210,78%, 56%), hsl(146,68%,55%));
    --topBGPattern: hsl(232, 19%, 15%);
    --blueCardBG: hsl (228, 28%, 20%);
    --text: hsl(0, 0%, 100%);
}
/* toggle btn */

.toggle{
    margin-top: -120px;
    width: 3%;
}

.darkmode{
    font-size: 16px;
    font-weight: 700;
    color: var(--BlueText);
    display: flex;
    align-items: center;
}
.label{
    width: 5em;
    height: 2em;
    border-radius: 30px;
    background: var(--Toggle);
    position: absolute;
    cursor: pointer;
}
.label:before{
    content: 'Dark Mode';
    position: absolute;
    display: inline-block;
    width: 90px;
    left: -95px;
    top: 5px;
}
#checkbox:checked ~ .ball{
    transform: translateX(3em);
}
#checkbox{
    display: none;
}


.ball{
    width: 1.6em;
    height: 1.6em;
    background-color: var(--BG);
    position: absolute;
    border-radius: 50%;
    margin-top: -0.3px;
    margin-left: 3px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

/* the rest */

  body {
    height: 100vh;
    background-color: #1f2937;
    display: grid;
    grid-template:
      "header" auto
      "entry" auto
      "info" auto
      "experience" auto
      "skills" auto
      "repos" auto
      "social-networks" auto /
      auto;
  }
  header {
    padding: 30px 200px;
    display: grid;
    grid-auto-flow: column;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    position: relative;
  }
  .left-header {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    font-size: 20px;
  }
  .right-header {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
  .right-header a {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  
  /* entry section*/
  
  .entry {
    padding: var(--padding);
    display: grid;
    place-items: center;
    gap: 20px;
  }
  .entry img {
    width: 50%;
    border-radius: 50%;
  }
  .entry h3 {
    font-size: 2rem;
    color: white;
  }
  .entry h1 {
    font-size: 3.5rem;
    text-align: center;
    color: white;
  }
  .entry button {
    padding: 15px;
    width: 200px;
    cursor: pointer;
    font-size: 1.05rem;
    transition: 0.2s ease-in-out;
  }
  .entry button:hover {
    transform: scale(1.3);
  }
  
  /* info section */
  
  .info {
    padding: var(--padding);
    display: grid;
    place-items: center;
    gap: 30px;
  }
  .info h3 {
    color: white;
    font-size: 2.5rem;
  }
  .info p {
    color: white;
    font-size: 1.15rem;
  }
  
  /* experience section */
  
  /* skills section */
  .skills {
    padding: var(--padding);
    display: grid;
    gap: 35px;
    place-items: center;
  }
  .skills-order {
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
  }
  .skills img {
    width: 70px;
  }
  .skills h3 {
    color: white;
    font-size: 2.5rem;
  }
  
  /* repos section */
  
  .repos{
    padding: var(--padding);
    display: grid;
    justify-items: center;
  }
  .repos h3{
    font-size: 2.5rem;
    color: white;
  }
  
  /* socials section */
  
  .social-networks{
    display: grid;
    place-items: center;
    gap: 35px;
    padding: var(--padding);
  }
  .social-networks h3{
    color: white;
    font-size: 2.5rem;
  }
  .social-networks p {
    color: white;
    font-size: 1.15rem;
  }
  .social-networks img{
    width: 40px;
  }
  .socials{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
  }
  
  /* footer section  */
  footer{
    display: grid;
    place-items: center;
  }
  
  .footer-nav{
    padding-top: 40px;
    display: grid;
    justify-items: start;
    color: white;
    font-size: 1.2rem;
    gap: 10px;
  }
  footer a{
    text-decoration: none;
    color: white;
  }